version: "3.8"

services:
  fastapi-service:
    build: .
    container_name: fastapi-baseline
    ports:
      - "8080:8080"
    restart: unless-stopped
    env_file:
      - .env  # Загружаем переменные окружения из .env
    environment:
      - TZ=UTC
      - OPENAI_API_KEY=${OPENAI_API_KEY}  # Передаем API-ключ внутрь контейнера
    volumes:
      - ./logs:/app/logs
    # GPU, если нужно
    # runtime: nvidia
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: all
    #           capabilities: [gpu]
